/* line 21, C:/Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 - Styles for AG grids & Container
 */
/* line 19, ../sass/style.scss */
.container {
  background-color: #fbeecb;
}

/* line 23, ../sass/style.scss */
.ag1, .ag3 {
  background-color: #71dad2;
}

/* line 27, ../sass/style.scss */
.ag2 {
  background-color: #fae7b3;
}

/* line 31, ../sass/style.scss */
.ag4, .ag5, .ag8, .ag9 {
  background-color: #ee9e9c;
}

/* line 35, ../sass/style.scss */
.ag6 {
  background-color: #f09671;
}

/* line 39, ../sass/style.scss */
.ag7 {
  background-color: #f6d784;
}

/* line 43, ../sass/style.scss */
.ag10 {
  background-color: #ea9fc3;
}

/**
 - Text Styles
 */
/* line 50, ../sass/style.scss */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

/* line 58, ../sass/style.scss */
.container {
  overflow: hidden;
  *zoom: 1;
}

/* line 63, ../sass/style.scss */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 65, ../sass/style.scss */
.some-selector {
  width: 34.09091%;
  float: right;
  margin-right: 0;
}

/* line 69, ../sass/style.scss */
.some-selector {
  width: 31.81818%;
  float: left;
  margin-right: 2.27273%;
}

/* line 73, ../sass/style.scss */
.some-selector {
  padding-left: 36.36364%;
}

/* line 77, ../sass/style.scss */
.some-selector {
  margin-right: 2.27273%;
}

@media (min-width: 900px) {
  /* line 81, ../sass/style.scss */
  .ag1 {
    width: 18.36735%;
    float: left;
    margin-right: 2.04082%;
  }
}

/* line 87, ../sass/style.scss */
.ag2 {
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
  overflow: hidden;
  *zoom: 1;
}

/* line 92, ../sass/style.scss */
.ag3 {
  width: 18.36735%;
  float: right;
  margin-right: 0;
}

/* line 96, ../sass/style.scss */
.ag4 {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}

/* line 100, ../sass/style.scss */
.ag5 {
  width: 48.27586%;
  float: right;
  margin-right: 0;
}

/* line 104, ../sass/style.scss */
.ag6 {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}

/* line 108, ../sass/style.scss */
.ag7 {
  width: 65.51724%;
  float: right;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 113, ../sass/style.scss */
.ag8 {
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
}

/* line 117, ../sass/style.scss */
.ag9 {
  width: 47.36842%;
  float: right;
  margin-right: 0;
}

/* line 121, ../sass/style.scss */
.ag10 {
  clear: both;
}

@media (min-width: 600px) {
  /* line 127, ../sass/style.scss */
  .ag1 {
    width: 31.03448%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  /* line 133, ../sass/style.scss */
  .ag1 {
    width: 31.03448%;
    float: right;
    margin-right: 0;
  }
}

/* line 140, ../sass/style.scss */
.container {
  width: 285px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 600px) {
  /* line 140, ../sass/style.scss */
  .container {
    width: 885px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 900px) {
  /* line 140, ../sass/style.scss */
  .container {
    width: 1185px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 1025px) {
  /* line 155, ../sass/style.scss */
  .blog-list > div {
    width: 285px;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 160, ../sass/style.scss */
  .blog-list > div:nth-child(10n+1), .blog-list > div:nth-child(10n+7) {
    width: 585px;
    float: left;
    margin-right: 15px;
  }
}
