@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true
	)
);

@include border-box-sizing;

/**
 - Styles for AG grids & Container
 */

.container {
  background-color: #fbeecb;
}

.ag1, .ag3 {
  background-color: #71dad2;
}

.ag2 {
  background-color: #fae7b3;
}

.ag4,.ag5,.ag8,.ag9 {
  background-color: #ee9e9c;
}

.ag6 {
  background-color: #f09671;
}

.ag7 {
  background-color: #f6d784;
}

.ag10 {
  background-color: #ea9fc3;
}

/**
 - Text Styles
 */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.container {
	// @include container();
	@include clearfix;
}

.container { @include container(1140px); }

.some-selector {
  @include span(3 wide of 9 last);
}

.some-selector {
  @include span(3 of 9);
}

.some-selector {
  padding-left: span(3 wider of 9);
}

.some-selector {
  margin-right: gutter(9);
}

.ag1 {
	@include breakpoint(900px) {
		@include span(2 of 10);
	}
}

.ag2 {
  @include span(6 of 10);
  @include clearfix;
}

.ag3 {
  @include span(2 of 10 last);
}

.ag4 {
  @include span(3 of 6);
}

.ag5 {
  @include span(3 of 6 last);
}

.ag6 {
  @include span(2 of 6);
}

.ag7 {
  @include span(4 of 6 last);
  @include clearfix;
}

.ag8 {
  @include span(2 of 4);
}

.ag9 {
  @include span(2 of 4 last);
}

.ag10 {
  clear: both;
  // Alternatively, you can now use the span mixin with the full keyword to tell Susy this should be a 100% width
  // @include span(full);
}

.ag1 { 
	@include susy-breakpoint(600px, 6) {
	 @include span (2 last); 
	} 
}

.ag1 { 
	@include breakpoint(600px) { 
		@include span(2 of 6 last); 
	} 
}

$susy: ( math: static, columns: 4, column-width: 60px, gutters: 1 / 4, use-custom: (rem: true) );
.container { 
	@include container($susy); 
	
	// Tablet View 
	@include breakpoint(600px) {    
	  @include container(12)  
	}

	// Desktop View 
	@include breakpoint(900px) {    
	  @include container(16)  
	}
}

.blog-list {
  > div {
    @media (min-width: 1025px) {
      @include span(4);
      margin-bottom: gutter();

      &:nth-child(10n+1),
      &:nth-child(10n+7) {
        @include span(8);
      }
    }
  }
}